#title{
  background-color: #EE6983;
}
h1{
  font-family:"Montserrat-Black";
  font-size: 5rem;
  line-height: 1.5;
  color: #fff;



}
.container-fluid{
  padding:3% 15% 7%;

}
.title_1{
  padding-left: 20%;
}
#press{
  background-color: #EE6983;
  text-align: center;
  padding-bottom: 3%;
}



/*Navigation Bar*/

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 50px;
  font-weight: lighter;

}
.nav-iteam{
  padding:0 18px;
}
.nav-link{
  font-size: 2.2rem;
  font-family: "Montserrat-light"
}
/*Buttons*/
.db{
  font-size: 2.2rem;
  margin: 5%;
}
.dogs{
  padding-left: 10%;
  transform: rotate(25deg);
  position: relative;
  z-index: 1;
  right:2%;
}
#features{
  padding: 7% 15%;
  background-color: #EEF1FF;
  position: relative;
  z-index: 2;
}
.features-box{
  text-align: center;
  padding: 5% 10%;
}
.h3{
  font-family: "Montserrat-Bold"
}
#testimonials{
  background-color: #EE6983;
  padding: 7% 15%;
  text-align: center;
  color: #fff;
}
h2{
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;

}

.dog_t{
  width:10%;
  border-radius: 100%;
  margin: 20px;
}
.image_press{
  width: 15%;
  margin: 20px 20px 50px;
}
.demo2{background:#f2f2f2;padding:30px 0}
.pricingTable2{padding-bottom:30px;margin:0 15px;background:#fff;text-align:center;border-radius:15px;overflow:hidden}
.pricingTable2:hover{box-shadow:0 0 10px rgba(195,67,67,.3) inset,0 0 20px -5px rgba(0,0,0,.8)}
.pricingTable2 .pricingTable-header{padding:20px 15px 45px;background:#66ce04;-webkit-clip-path:polygon(50% 100%,100% 60%,100% 0,0 0,0 60%);clip-path:polygon(50% 100%,100% 60%,100% 0,0 0,0 60%);position:relative}
.pricingTable2 .pricingTable-header:before{content:"";width:400px;height:400px;border-radius:50%;position:absolute;right:-50%;top:-130%;background:repeating-radial-gradient(rgba(255,255,255,.05),rgba(255,255,255,.2) 20%);transition:all .5s ease 0s}
.pricingTable2:hover .pricingTable-header:before{right:50%}
.pricingTable2 .title{font-size:40px;color:#fff;margin:0}
.pricingTable2 .price-value{display:block;font-size:25px;color:#000;margin:0 0 20px;transition:all .3s ease 0s}
.pricingTable2 .pricing-content{padding:30px 25px 0;margin:0;list-style:none}
.pricingTable2 .pricing-content li{font-size:18px;color:#909090;line-height:40px;letter-spacing:1px;text-transform:capitalize;border-bottom:2px solid rgba(0,0,0,.15);margin-bottom:10px;position:relative}
.pricingTable2 .pricing-content li:last-child{border-bottom:none}
.pricingTable2 .pricing-content li i{color:#66ce04}
.pricingTable2 .pricingTable-signup{display:block;padding:18px 0;margin:0 25px;border-radius:10px;background:#66ce04;font-size:20px;color:#fff;letter-spacing:1px;text-transform:uppercase;overflow:hidden;position:relative;transition:all .3s ease 0s}
.pricingTable2 .pricingTable-signup:hover{letter-spacing:2px;box-shadow:0 0 10px rgba(0,0,0,.7),0 0 0 7px rgba(255,255,255,.5) inset}
.pricingTable2 .pricingTable-signup:before{content:"";width:230px;height:230px;border-radius:50%;background:repeating-radial-gradient(rgba(255,255,255,.05),rgba(255,255,255,.2) 20%);position:absolute;top:-180%;right:-40%;transition:all .8s ease 0s}
.pricingTable2 .pricingTable-signup:hover:before{right:40%}
.pricingTable2.blue .pricingTable-header,.pricingTable2.blue .pricingTable-signup{background:#15b8f3}
.pricingTable2.blue .pricing-content li i{color:#15b8f3}
.pricingTable2.pink .pricingTable-header,.pricingTable2.pink .pricingTable-signup{background:#f03c79}
.pricingTable2.pink .pricing-content li i{color:#f03c79}
@media only screen and (max-width:990px){.pricingTable2{margin-bottom:30px}
}
@media only screen and (max-width:479px){.pricingTable2{margin:0}
.pricingTable2 .pricing-content li{font-size:15px}
}

@media(max-width:1028px)
{
  #title{
    text-align: center;
  }
  .dogs{
    position: static;
    transform:rotate(0);


  }
}


#cta{
  background-color: #EE6983;
  color: #fff;
  padding :7% 15%;
  text-align: center;
}
.cta_heading{

  font-family:"Montserrat-Black";
  font-size:  3.5rem;



}
#footer{
  padding: 7% 15%;
  text-align: center;
}
